{% extends 'main/base.html' %}

{% block content %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'main:create' %}">Добавить рассылку</a>
        <a class="btn btn-outline-primary" href="{% url 'main:message_create' %}">Добавить шаблон письма</a>
    </div>
    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>{{object.frequency}}</li>
                            <li>{{object.satus}}</li>
                        </ul>
                        <a href="{% url 'main:view' pk=object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Перейти</a>
                        {% if perms.main.change_mailing %}
                        <a href="{% url 'main:edit' pk=object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                        {% endif %}
                        {% if perms.main.delete_mailing %}
                        <a href="{% url 'main:delete' pk=object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}